[project]
	description = Entropy bin based discretization using Java/WekaAPI
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Raviteja Sagiraju (ravinani02)
[access "refs/for/refs/*"]
	read = group user/Raviteja Sagiraju (ravinani02)
	push = group user/Raviteja Sagiraju (ravinani02)
	label-Code-Review = -2..+2 group user/Raviteja Sagiraju (ravinani02)
	label-Verified = -1..+1 group user/Raviteja Sagiraju (ravinani02)
	rebase = group user/Raviteja Sagiraju (ravinani02)
	removeReviewer = group user/Raviteja Sagiraju (ravinani02)
	submit = group user/Raviteja Sagiraju (ravinani02)
[access "refs/heads/*"]
	read = group user/Raviteja Sagiraju (ravinani02)
	create = group user/Raviteja Sagiraju (ravinani02)
	push = +force group user/Raviteja Sagiraju (ravinani02)
	pushMerge = group user/Raviteja Sagiraju (ravinani02)
[access "refs/tags/*"]
	push = group user/Raviteja Sagiraju (ravinani02)
	push = +force group user/Raviteja Sagiraju (ravinani02)
